  .Header-style1{
    border: none;
    display: flex;
    background: #FFA500;
    flex-direction: row;
    padding: 10px 10px 0px 70px;
}


.Body-style{
    margin: 0rem;
    position: absolute;
    top: 0%;
    overflow-x: hidden;
    background: #D9D9D9;
}


.ImageSpecs{
  width: 85rem;
    height: 23rem;

} 


.container{
  margin-left: 50rem;
  margin-top: 5rem;
}

 /* .dynamicDiv:hover{
   width: 500px;
   font-style: italic;
} */

.ButtonNavbarToggler1{
  border: none;
  background: inherit;
}

.button-background-Globe{
  color: #ffffff;
  background: none;
  border: none;
}

.Nav-form-editable1{
  display: flex;
  flex-direction: row;
}

